body {
    margin: 0;
    font-family: 'Courier New', monospace;
    background-color: #fff;
    color: #000;
}
.intro {
    text-align: center;
    padding: 2rem;
    background-color: #fff;
}

.games-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
}

.game {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.game img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.game:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hover-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.game:hover .hover-content {
    opacity: 1;
}

.footer {
    color: BLACK;
    text-align: center;
    padding: 20px;
}


@media (max-width: 768px) {
    .hero-section {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
